html,body{
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    flex: 1;
}
.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    width: auto;
    height: auto;
    margin:auto;
}
.padding-head {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

#playhouse{
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    float: none;
}
.lead{
    font-weight: 550;
}
.web-link {
  color: #69D269;
}
.web-link:hover{
  color: #5CB85C;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: .75rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.social a {
  font-size: 2em;
}
.fa-google {
  color: #dd4b39;
}
.fa-facebook {
  color: #3B5998;
}
.fa-twitter {
  color: #55ACEE;
}
.fa-instagram {
  color: #CD486B;
}
.fa-linkedin {
  color: #007BB6;
}

.fa-google:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-instagram:hover {
  color: #d5d5d5;
}
