{% extends "webapp/header.html" %}

{% block content %}
    {% load staticfiles %}
    <br>

    <!-- Header -->
    <div class="container">
        <h1 class="display-4">Contact Us</h1>

        <br>

        <!-- Section 1 -->
        <h4>Von Braun Center Administrative Offices:</h4>
        <span>
            <h7>700 Monroe Street</h7>
            <br>
            Huntsville, Alabama 35801
            <br>

            <i class="fa fa-phone"></i>
            : 256-533-1953 |
            <i class="fa fa-fax"></i>
            : 256-551-2203

            <br>
            <i class="fa fa-envelope"></i>
            vbcinfo@vonbrauncenter.com

            <br>
            <i class="fa fa-building"></i>
            Monday - Friday |
            <i class="fa fa-clock"></i>
            08:00 AM - 05:00 PM
        </span>

        <br>
        <br>

        <!-- Section 2 -->
        <h4>Von Braun Center Ticket Office:</h4>
        <span>
            <h7>700 Monroe Street</h7>
            <br>
            Huntsville, Alabama 35801
            <br>
            For a recording of General Information
            <i class="fa fa-phone"></i>
            : 256-551-2345

            <br>
            <i class="fa fa-building"></i>
            Monday - Friday |
            <i class="fa fa-clock"></i>
            10:00 AM - 05:00 PM
        </span>
    </div>

    <br>

{% endblock %}
