{% extends "webapp/header.html" %}

{% block content %}
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <br>
    <div class="container">
        <h1 class="display-4">Performances</h1>
        <br>

        <!-- Filter Group -->
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Theater Selection
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a class="dropdown-item" href="#" data-value="playhouse">Playhouse</a></li>
                    <li><a class="dropdown-item" href="#" data-value="concertHall">Concert Hall</a></li>
                  </ul>
                </div>
            </div>

            <div class="btn-group mr-2" role="group">
                <input id="input" />
                <script>
                    $('#input').datetimepicker({ footer: true, modal: true });
                </script>
            </div>
        </div>
        <!-- End Filter Group -->

        <!-- Performance Cards -->
        <hr>
        <div class="container bootstrap snippet" style="padding: 0;">
            <div class="row profile">

                <!-- Performance 1 -->
                <div class="card">
                    <div class="img-box">
                        <img class="img-thumbnail" src="{% static 'img/.jpg' %}" alt="">
                        <p>
                            <strong>Name:</strong> <em>Performance1</em><br>
                            <strong>Genre:</strong> <em>Romantic comedy</em><br>
                            <strong>Theater:</strong> <em>Concert Hall</em><br>
                            <em class="bio">
                                "Summary"
                            </em>
                        </p>
                        <ul class="text-center">
                            <li><a href="linktoperf"><i
                                    class="fa fa-envelope fa-3x social personal-em"> </i></a></li>
                        </ul>
                    </div>
                    <h3>Performance 1</h3>
                    <hr style="margin: 5px 50px;">
                    <p>Genre and theater</p>
                </div>

                <hr>

                <!-- Performance 2 -->
                <div class="card">
                    <div class="img-box">
                        <img class="img-thumbnail" src="{% static 'img/.jpg' %}" alt="">
                        <p>
                            <strong>Name:</strong> <em>Performance2</em><br>
                            <strong>Genre:</strong> <em>Romantic comedy</em><br>
                            <strong>Theater:</strong> <em>Concert Hall</em><br>
                            <em class="bio">
                                "Summary"
                            </em>
                        </p>
                        <ul class="text-center">
                            <li><a href="linktoperf"><i
                                    class="fa fa-envelope fa-3x social personal-em"> </i></a></li>
                        </ul>
                    </div>
                    <h3>Performance 2</h3>
                    <hr style="margin: 5px 50px;">
                    <p>Genre and theater</p>
                </div>

                <hr>

                <!-- Performance 3 -->
                <div class="card">
                    <div class="img-box">
                        <img class="img-thumbnail" src="{% static 'img/.jpg' %}" alt="">
                        <p>
                            <strong>Name:</strong> <em>Performance3</em><br>
                            <strong>Genre:</strong> <em>Romantic comedy</em><br>
                            <strong>Theater:</strong> <em>Concert Hall</em><br>
                            <em class="bio">
                                "Summary"
                            </em>
                        </p>
                        <ul class="text-center">
                            <li><a href="linktoperf"><i
                                    class="fa fa-envelope fa-3x social personal-em"> </i></a></li>
                        </ul>
                    </div>
                    <h3>Performance 3</h3>
                    <hr style="margin: 5px 50px;">
                    <p>Genre and theater</p>
                </div>

                <hr>
                <br>

                <!-- Performance 4 -->
                <div class="card">
                    <div class="img-box">
                        <img class="img-thumbnail" src="{% static 'img/.jpg' %}" alt="">
                        <p>
                            <strong>Name:</strong> <em>Performance4</em><br>
                            <strong>Genre:</strong> <em>Romantic comedy</em><br>
                            <strong>Theater:</strong> <em>Concert Hall</em><br>
                            <em class="bio">
                                "Summary"
                            </em>
                        </p>
                        <ul class="text-center">
                            <li><a href="linktoperf"><i
                                    class="fa fa-envelope fa-3x social personal-em"> </i></a></li>
                        </ul>
                    </div>
                    <h3>Performance 4</h3>
                    <hr style="margin: 5px 50px;">
                    <p>Genre and theater</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Performance Cards -->

    <!--div class="text-center">
        <a class="btn btn-secondary btn-sm" href = "{% url 'payment' %}">Payment</a>
    </div-->
    </div>

    <br>
    <br>

    <script>
        $(".dropdown-menu li a").click(function(){
          $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
          $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        });
    </script>

{% endblock %}
