{% extends "webapp/header.html" %}

{% block content %}
    {% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "/static/css/seatSelection.css" %}>
    <link rel="stylesheet" href="{% static "js/bootstrap-input-spinner.js" %}" type="text/js"/>
    <script>
      var isSeason = "{{ season }}";
      var selectedSeats = [];
      var numSelected = 0;
      var showName = "{{ season }}";
      var theaterName = "{{ theater_str }}";
      var monthName = "";
      var day = "{{ day }}";
      var hour = "{{ hour_str }}";
      var year = "{{ year }}";
      var am_pm_string = "{{ am_pm_string }}";
      var minute = "{{ minute_str }}";
      var nextTicket = 1;
      var nextSelectedSpaceToCreate = 3;
    </script>

    <style>
        body {
            height: 100%;
            width: 100%;
            font-family: 'Arimo', Arial, sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #010b26;
        }
        .spinner {
          width: 100px;
        }
        .spinner input {
          text-align: right;
        }
        .input-group-btn-vertical {
          position: relative;
          white-space: nowrap;
          width: 1%;
          vertical-align: middle;
          display: table-cell;
        }
        .input-group-btn-vertical > .btn {
          display: block;
          float: none;
          width: 100%;
          max-width: 100%;
          padding: 8px;
          margin-left: -1px;
          position: relative;
          border-radius: 0;
        }
        .input-group-btn-vertical > .btn:first-child {
          border-top-right-radius: 4px;
        }
        .input-group-btn-vertical > .btn:last-child {
          margin-top: -2px;
          border-bottom-right-radius: 4px;
        }
        .input-group-btn-vertical i{
          position: absolute;
          top: 0;
          left: 4px;
        }
        .label{
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
        }
    </style>
</head>

<body>

<div class="container">
    <br>
    <div class="container">
        <h1 class="display-4">Seat Selection</h1>
    </div>
    <br>



        <!-- Row -->
        <div class="row">
            <!-- Column Map -->
            <!-- <div class="col-md-8 order-md-1">
                <div id="window" >
                  <iframe src="{{ theater }}/" height="300" width="500"></iframe>
                </div>
            </div> -->
            <!-- End Column Map -->

            <div class="embed-responsive embed-responsive-16by9">
              <iframe id="seatmap-frame"class="embed-responsive-item" src="{{ theater }}/" allowfullscreen></iframe>
            </div>
        </div>
        <!-- End Row -->
        <div class="row">
          <h4></h4>
        </div>
        <div class="row">
          <h4></h4>
        </div>
        <div class="row">
          <span class="col-md-8">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">Your cart</span>
              <!-- <span class="badge badge-secondary badge-pill">1</span> -->
            </h4>
            <ul id="seat-list" class="list-group mb-3">
              <!-- <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Row A Seat 1</h6>
                    <small class="text-muted">Scotty McCreedy Oct 30, 2018 - 05:30PM</small>
                    <span><small class="text-muted">Concert Hall</small></span>
                </div>
                <span class="text-muted">$10.95</span>
              </li> -->
              <li id="select1" class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                  <h6 class="my-0">Select Seat</h6>
                </div>
              </li>
              <li id="select2" class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                  <h6 class="my-0">Select Seat</h6>
                </div>
              </li>
            </ul>
          </span>
					<span class="col-md-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">Number of Seats</span>
            </h4>
							<div class="input-group" id="spinner">
									<span class="input-group-btn btn-group-sm">
										<button type="button" class="btn btn-primary" data-action="decrement"><span class="fa fa-minus"></span></button>
									</span>

								<input id="seat-spinner"name="qty" type="text" class="form-control text-center" value="2" min="1" max="10" disabled>

								<span class="input-group-btn btn-group-sm">
										<button type="button" class="btn btn-primary" data-action="increment"><span class="fa fa-plus"></span></button>
								</span>
							</div>
              <div class="row">
                <h4></h4>
              </div>
              <div class="row">
                <h4></h4>
              </div>
              <button id="checkout-button" type="button" class="btn btn-primary">Continue to Checkout</button>
					</span>
				</div>

</div>
<!-- <script>
    // $("input[type='number']").inputSpinner()
</script> -->
<script src="{% static  "js/jquery-3.2.1.min.js" %}"</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  $(document).ready(() => {
    function getNextSelectedSpace(num) {
      var selectedSpace = '<li id="select' + num + '"';
      selectedSpace +=' class="list-group-item d-flex justify-content-between bg-light"><div class="text-success"><h6 class="my-0">Select Seat</h6></div></li>';
      return selectedSpace;
    }
    $("#checkout-button").on('click', () => {
        if($("#seat-spinner").val() == numSelected) {
        var link_str = "/seasonPayment/{{ theater }}/{{ season }}/{{ day }}/{{ hour }}/{{ minute }}/";
        var seats_str = "";
        for (index = 0; index < selectedSeats.length; index++) {
            seats_str += selectedSeats[index] + ",";
        }
        seats_str = seats_str.slice(0, -1);
        link_str += seats_str + "/";
        console.log(link_str);
      	var iFrameDOM = $("#seatmap-frame").contents();
      	// iFrameDOM.find("#S2A6").css("background-color", "#fff");
        window.location = link_str;
    }
    else {
      var needed = $("#seat-spinner").val() - numSelected;
      var ending = "";
      if(needed == 1) {
         ending = "seat";
      }
      else {
        ending = "seats";
      }
      var output_str = "Please select " + needed + " more " + ending;
      alert(output_str);
    }
    });

    $('#spinner button').on('click', function(){
    let input = $(this).closest('#spinner').find('input[name=qty]');

    if($(this).data('action') === 'increment') {
        if(input.attr('max') === undefined || parseInt(input.val()) < parseInt(input.attr('max'))) {
            input.val(parseInt(input.val(), 10) + 1);
        }
        var list_item = getNextSelectedSpace(nextSelectedSpaceToCreate);
        console.log(list_item);
        $("#seat-list").append(list_item);
        nextSelectedSpaceToCreate += 1;
        console.log("plus");
    } else if($(this).data('action') === 'decrement') {
        if(input.attr('min') === undefined || parseInt(input.val()) > parseInt(input.attr('min'))) {
            input.val(parseInt(input.val(), 10) - 1);
        }
        var newVal = $("#seat-spinner").val();
        if (numSelected > newVal) {
            // get last seat added
            var lastSeatSelected = selectedSeats[selectedSeats.length - 1];
            console.log(lastSeatSelected);
            var iFrameDOM = $("#seatmap-frame").contents();
            console.log(iFrameDOM.find(lastSeatSelected));
            if (iFrameDOM.find("#" + lastSeatSelected).hasClass("handicap-seat")) {
              iFrameDOM.find("#" + lastSeatSelected).attr('src',"/static/img/handicap_logo.png");
              iFrameDOM.find("#" + lastSeatSelected).addClass('handicap-available');
            }
            else {
                iFrameDOM.find("#" + lastSeatSelected).css("background-color", "grey");
                iFrameDOM.find("#" + lastSeatSelected).addClass('available');
            }
            var index = selectedSeats.indexOf(lastSeatSelected);
            if (index > -1) {
              selectedSeats.splice(index, 1);
            }
            iFrameDOM.find("#" + lastSeatSelected).addClass('available');
            numSelected -= 1;
            // remove nextTicket from list
            var list_removeID = nextTicket - 1;
            // console.log('this: ' + list_removeID);
            $("#ticket-" + list_removeID).remove();
            // decement nextTicket
            nextTicket -= 1;
        }
        else
        {
          var removeNum = nextSelectedSpaceToCreate - 1;
          var removeID = "#select" + removeNum;
          $(removeID).remove();
          nextSelectedSpaceToCreate -= 1;
        }
    }
});
  });
</script>

</body>
{% endblock %}
